# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
.env

# Compiled output
build
# Logs

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#others
src/tmp/*

# Misc
.DS_Store